sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t igorgroz/docker-react -f Dockerfile .

script:
  - docker run -e CI=true igorgroz/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: 'southeast-2'
  app: 'Docker'
  env: 'Docker-env'
  bucket_name: 'elasticbeanstalk-ap-southeast-2-925167357459'
  bucket_path: 'docker'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
